* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgba(122, 0, 0, 0.603);
    max-height: 100vh;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
  }
  nav {
    margin: 0;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    
  }
  li {
    display: inline;
    padding: 10px;
    font-size: large;
}
ul {
    padding: 10px 0;

}
a {
    color: rgb(0, 0, 0);

}
  h1 {
    font-size: 100px;
    margin: 40px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 5px 5px #000;
    text-decoration: underline wavy;
  }
  
  .container-box {
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  .container-box div {
    width: calc(400px / 3);
    height: calc(400px / 3);
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  .container-box div:hover {
      background-color: rgba(122, 0, 0, .300);
  }

  .board {
    background-color: rgba(255, 255, 255, 0.582);
    display: vertical;
    padding: 20px;
    margin: 20px;
    
  }
  .board p {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    
  }
  
  .board button {
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: rgba(122, 0, 0, 0.603);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    border-color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: bold;
  }
  
  